.image {
  display: inline-block;
  max-width: 100%;
  opacity: 0;
  transition: opacity 220ms;

  &.is-loaded {
    opacity: 1;
  }

  &.has-error {
    opacity: 1;
    color: var(--text-warn-color);
    font-weight: var(--text-semi-bold);
  }

  /* Fit */
  &.fit-fill {
    object-fit: fill;
  }

  &.fit-contain {
    object-fit: contain;
  }

  &.fit-cover {
    object-fit: cover;
  }
}
