.Ripple {
  position: relative !important;
  overflow: hidden;
  outline: 0;

  /* Another Safari hack, make safari respect border-radius and overflow: hidden */
  transform: translate3d(0, 0, 0);
}

.Ripple-Circle {
  position: absolute;
  border-radius: 1000px;
  width: 50px;
  height: 50px;
  pointer-events: none;
  background: currentColor;
  opacity: 0.4;
  transform: scale(0);
  transition-property: opacity, transform;
  transition-timing-function: cubic-bezier(0.3, 0, 1, 0.4);
  transition-duration: 0.4s;

  &.is-animating {
    opacity: 0.2;
    transform: scale(20);
  }
}
