.Ripple {
  position: relative !important;
  overflow: hidden;
  outline: 0;

  /* Another Safari hack, make safari respect border-radius and overflow: hidden */
  transform: translate3d(0, 0, 0);
}

.Ripple-Circle {
  position: absolute;
  border-radius: 50%;
  pointer-events: none;
  background: currentColor;
  opacity: 0.05;
  transform: scale(0.4);
}
