.DialogContainer {
  contain: layout;
  z-index: 200;
  display: flex;
  align-items: center;
  justify-content: center;
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  overflow: hidden;
}

.DialogBack {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.2);
  opacity: 0;
  animation-name: DialogBack-Enter;
  animation-duration: 280ms;
  animation-fill-mode: both;

  &.is-leave {
    animation-name: DialogBack-Leave;
  }
}

@keyframes DialogBack-Enter {
  0% {
    opacity: 0;
  }

  100% {
    opacity: 1;
  }
}

@keyframes DialogBack-Leave {
  0% {
    opacity: 1;
  }

  100% {
    opacity: 0;
  }
}

.Dialog {
  display: flex;
  flex-direction: column;
  position: relative;
  max-width: 600px;
  margin: var(--gutter-small);
  min-height: 40px;
  min-width: 320px;
  background-color: #ffff;
  overflow: hidden;
  border: 1px solid #f0f3f4;
  border-radius: 4px;
  opacity: 0;
  transform: translateY(20%);
  padding-top: var(--gutter-small);
  max-height: 94%;
  animation-name: Dialog-Enter;
  animation-duration: 280ms;
  animation-fill-mode: both;

  &.is-leave {
    animation-name: Dialog-Leave;
  }

  &.has-title {
    padding: 0;
  }

  &.is-full {
    max-height: 96%;
    height: 100%;
    width: 100%;
  }

  @media (max-height: 400px) {
    max-height: 96%;
  }
}

@keyframes Dialog-Enter {
  0% {
    opacity: 0;
    transform: translateY(20%);
  }
  100% {
    opacity: 1;
    transform: translateY(0);
  }
}

@keyframes Dialog-Leave {
  0% {
    opacity: 1;
    transform: translateY(0);
  }
  100% {
    opacity: 0;
    transform: translateY(20%);
  }
}

.DialogTopBar {
  display: flex;
  height: 34px;
  min-height: 34px;
}

.DialogTitle {
  flex: 1;
  display: flex;
  justify-content: center;
  align-items: center;
  color: var(--text-primary-color);
  font-weight: normal;
  font-size: var(--text-heading-small);
  text-transform: uppercase;
}

.DialogContent {
  flex: 1;
  overflow: auto;
  padding: var(--gutter-small) var(--gutter-medium);
}

.DialogActions {
  display: flex;
  justify-content: flex-end;
  min-height: 48px;
  padding: 0 4px;
}
