.OutlineButton {
  appearance: none;
  border-radius: 4px;
  text-shadow: 0 0 1px var(--shadow-color);
  cursor: pointer;
  text-transform: uppercase;
  background-color: transparent;
  border: 1px solid var(--color-primary);

  &:focus {
    box-shadow: var(--outline);
  }

  &.is-disabled {
    pointer-events: none;
  }
}
