.OutlineButton {
  appearance: none;
  border-radius: 4px;
  cursor: pointer;
  text-transform: uppercase;
  background-color: transparent;
  border: 1px solid var(--color-primary);
  outline: 0;
  user-select: none;

  &:focus {
    box-shadow: var(--outline);
  }

  &.is-disabled {
    pointer-events: none;
  }
}
