.Card {
  width: 100%;
  border-radius: 4px;
  background-color: #fff;
  padding: var(--gutter-small);
  margin: var(--gutter-small) 0;

  &.shadow-1 {
    box-shadow: var(--shadow-1);
  }

  &.shadow-2 {
    box-shadow: var(--shadow-2);
  }

  &.shadow-3 {
    box-shadow: var(--shadow-3);
  }
}
