.Icon {
  display: inline-block;
  line-height: 0;
  color: #fff;

  svg {
    fill: currentColor;
  }

  &.size-small svg {
    width: 20px;
    height: 20px;
  }

  &.size-medium svg {
    width: 26px;
    height: 26px;
  }

  &.size-large svg {
    width: 42px;
    height: 42px;
  }

  &.accent-primary svg {
    color: var(--accent-primary);
  }

  &.accent-secondary {
    color: var(--text-secondary-color);
  }
}
