.Icon {
  display: inline-flex;
  justify-content: center;
  align-items: center;
  line-height: 0;

  & svg,
  & svg path {
    fill: currentColor;
  }

  &.size-small,
  &.size-small svg {
    max-width: 14px;
    max-height: 14px;
  }

  &.size-small,
  &.size-small svg {
    max-width: 20px;
    max-height: 20px;
  }

  &.size-medium,
  &.size-medium svg {
    max-width: 26px;
    max-height: 26px;
  }

  &.size-large,
  &.size-large svg {
    max-width: 42px;
    max-height: 42px;
  }
}
