.IconButton {
  display: flex;
  justify-content: center;
  align-items: center;
  margin: 0;
  border: 0;
  background-color: transparent;
  border-radius: 50%;
  cursor: pointer;
  /*  */
  width: 30px;
  height: 30px;
}
