.FlatButton {
  display: flex;
  justify-content: center;
  align-items: center;
  appearance: none;
  border-radius: 4px;
  cursor: pointer;
  text-transform: uppercase;
  background-color: transparent;
  border: none;
  line-height: 1;
  outline: 0;
  user-select: none;

  &:focus {
    box-shadow: var(--outline);
  }

  &.is-disabled {
    pointer-events: none;
  }
}
