.Button {
  appearance: none;
  border-radius: 100px;
  cursor: pointer;
  transition: background-color 0.2s, color 0.2s;
  border: none;
  outline: none;
  user-select: none;
  min-height: 36px;

  &:focus {
    box-shadow: var(--outline);
  }

  &.is-disabled {
    pointer-events: none;
  }

  /* TODO Replace this with a solid solution.. */
  /* .Icon + *,
  * + .Icon {
    margin-left: var(--space-xsmall);
  } */
}
