.Button,
.FlatButton {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
  height: 40px;
  margin: 0;
  border: 0;
  text-transform: uppercase;
  border-radius: 4px;
  user-select: none;
  text-shadow: 0 0 1px var(--shadow-color);
  cursor: pointer;
  transition: background-color 0.2s, color 0.2s;

  &:focus {
    box-shadow: var(--outline);
  }

  &.is-inline {
    width: auto;
  }

  &.is-disabled {
    pointer-events: none;
    color: var(--text-secondary-color);
  }

  & .Icon {
    margin-right: var(--gutter-small);
  }
}
