.Button,
.FlatButton {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
  height: 40px;
  padding: 0 var(--gutter-medium);
  margin: var(--gutter-small) 0;
  border: 0;
  background-color: transparent;
  text-transform: uppercase;
  font-size: var(--text-size-small);
  font-weight: var(--text-semi-bold);
  border-radius: 4px;
  user-select: none;
  text-shadow: 0 0 1px var(--shadow-color);
  cursor: pointer;
  transition: background-color 0.2s, color 0.2s;

  &:focus {
    box-shadow: var(--outline);
  }

  &.is-inline {
    width: auto;
  }

  &.is-disabled {
    pointer-events: none;
    color: var(--text-secondary-color);
  }

  &.has-icon {
    padding-left: var(--gutter-small);
  }

  & .Icon {
    margin-right: var(--gutter-small);
  }
}

.Button {
  background-color: var(--accent-primary);
  color: #fff;

  &.is-secondary {
    background-color: var(--accent-secondary);
  }

  &.is-disabled {
    background-color: var(--disabled);
  }
}

.FlatButton {
  color: var(--text-primary-color);

  &:hover {
    background-color: rgba(0, 0, 0, 0.04);
  }

  &.is-secondary {
    color: var(--accent-primary);
  }
}
