:root {
  --outline: 0 0 1px 1px rgba(77, 161, 255, 0.2);

  /* Blockle Blocks */

  /* Spacing */
  --space-gutter: 16px;
  --space-xsmall: 4px;
  --space-small: 8px;
  --space-medium: 12px;
  --space-large: 20px;
  --space-xlarge: 42px;

  /* Font famlily */
  --font-family: 'Lato', sans-serif;

  /* Font size */
  --font-xsmall: 12px;
  --font-small: 14px;
  --font-medium: 16px;
  --font-large: 24px;
  --font-xlarge: 32px;

  /* Font weight */
  --weight-normal: 400;
  --weight-bold: 700;

  /* Colors */
  --color-primary: #3fc4f1;
  --color-secondary: #3199b5;
  --color-success: #b8e773;
  --color-warning: #fd6e6e;
  --color-black: #536476;
  --color-white: #fff;
  --color-light-gray: #d7e0e7;
  --color-gray: #7f92a3;

  /* Shadows */
  --shadow-1: 0 1px 3px rgba(0, 0, 0, 0.12), 0 1px 2px rgba(0, 0, 0, 0.24);
  --shadow-2: 0 3px 6px rgba(0, 0, 0, 0.16), 0 3px 6px rgba(0, 0, 0, 0.23);
  --shadow-3: 0 10px 20px rgba(0, 0, 0, 0.19), 0 6px 6px rgba(0, 0, 0, 0.23);
}
