:root {
  /* Text */
  --text-color-heading: #000;
  --text-color-primary: #000;
  --text-color-secondary: #000;
  --text-color-tertiary: #000;
  --text-color-disabled: #ccc;

  /* State */
  --state-error: red;
  --state-warning: orange;
  --state-focus: blue;
  --state-success: green;

  /* Accent */
  --accent-primary: #000;
  --accent-secondary: #fff;

  /* Spacing */
  --spacing-small: 6px;
  --spacing-medium: 12px;
  --spacing-large: 20px;

  /* Shadow */
  --shadow-1: 0 1px 3px rgba(0, 0, 0, 0.12), 0 1px 2px rgba(0, 0, 0, 0.24);
  --shadow-2: 0 3px 6px rgba(0, 0, 0, 0.16), 0 3px 6px rgba(0, 0, 0, 0.23);
  --shadow-3: 0 10px 20px rgba(0, 0, 0, 0.19), 0 6px 6px rgba(0, 0, 0, 0.23);

  /* Outline */
  /* --outline: 0 0 0 1px rgba(37, 38, 94, 0.2); */
  /* --outline: 0 0 0 2px rgba(0, 0, 0, 0.1); */
  --outline: 0 0 0 2px rgba(77, 161, 255, 0.2);

  /* -------------------------------------------------------------------- */

  /* Colors */
  --background-primary: #f8f9fa;
  --accent-primary: #4da1ff;
  --accent-primary-dark: #2c8dfc;
  --accent-secondary: #7ed321;
  --accent-tertiary: #f5a623;
  --divider-color: #dfe3e8;
  --disabled: #d1dbe2;
  --warn: #fc8650;
  --shadow-color: rgba(37, 38, 94, 0.1);

  /* #969BA1 */

  /* Spacing */
  --gutter-small: 8px;
  --gutter-medium: 14px;
  --gutter-large: 24px;

  /* Text */
  --text-primary-color: #323c47;
  --text-secondary-color: #939eab;
  --font-family: 'Lato', sans-serif;
  --text-size-small: 12px;
  --text-size: 14px;
  --text-heading-small: 12px;
  --text-heading-medium: 19px;
  --text-heading-large: 23px;
  --text-heading-xlarge: 42px;
  --text-semi-bold: 500;
  --text-bold: 700;
}
