.TextField-Label {
  position: absolute;
  transition: transform 200ms cubic-bezier(0, 0, 0.4, 1), opacity 200ms cubic-bezier(0, 0, 0.4, 1),
    color 80ms cubic-bezier(0, 0, 0.4, 1), visibility 200ms;
  transform: scale(1.2) translateY(30%);
  transform-origin: left center;
  opacity: 0;

  &.is-visible {
    transform: scale(1) translateY(0);
    opacity: 1;
  }
}

.TextField-Input {
  appearance: none;
  position: relative;
  width: 100%;
  background-color: transparent;
  border: 1px solid var(--color-gray);
  outline: 0;
  font-family: inherit;
  font-size: var(--font-medium);
  margin: 0;
  padding: var(--space-medium);
  padding-top: var(--space-large);
  padding-bottom: var(--space-small);
  border-radius: 4px;
  color: var(--color-gray);
  -webkit-text-fill-color: var(--color-gray);
  transition: border-color 160ms cubic-bezier(0, 0, 0.4, 1);

  &:-webkit-autofill {
    -webkit-box-shadow: 0 0 0 30px rgba(255, 255, 255, 1) inset;
  }

  &:focus {
    box-shadow: var(--outline);
    border: 1px solid var(--color-primary);
  }

  &:focus,
  &.is-filled {
    color: var(--color-black);
    -webkit-text-fill-color: var(--color-black);
  }
}

.TextField-Bottom {
  position: absolute;
  bottom: 0;
  left: 0;
}

/* https://stackoverflow.com/questions/29580704/change-input-background-to-transparent-on-autocomplete-form */
input:-webkit-autofill,
input:-webkit-autofill:hover,
input:-webkit-autofill:focus,
input:-webkit-autofill:active {
  transition: background-color 50000s ease-in-out 0s;
  -webkit-text-fill-color: var(--color-dark) !important;
}
