.TextField {
  padding-bottom: 20px;
}

.TextField-Label {
  transition: transform 200ms cubic-bezier(0, 0, 0.4, 1), opacity 200ms cubic-bezier(0, 0, 0.4, 1),
    color 200ms cubic-bezier(0, 0, 0.4, 1), visibility 200ms;
  transform: translateY(30%);
  opacity: 0;
  text-transform: uppercase;

  &.is-floating {
    transform: translateY(0);
    opacity: 1;
  }
}

.TextField-Bar {
  position: absolute;
  display: block;
  content: '';
  bottom: 20px;
  left: 0;
  height: 2px;
  width: 100%;
  background-color: currentColor;
  opacity: 0;
  transition: transform 200ms cubic-bezier(0, 0, 0.4, 1), opacity 200ms cubic-bezier(0, 0, 0.4, 1);
  transform: scaleX(0);
}

.TextField-Input {
  appearance: none;
  position: relative;
  width: 100%;
  background-color: transparent;
  border-width: 0;
  border-bottom: 1px solid var(--color-gray);
  padding-bottom: 2px;
  outline: 0;
  font-family: inherit;
  font-size: var(--font-medium);
  margin: 0;
  -webkit-text-fill-color: var(--color-black);
  color: var(--color-black);

  &:-webkit-autofill {
    -webkit-box-shadow: 0 0 0 30px rgba(255, 255, 255, 1) inset;
  }

  &:focus + .TextField-Bar {
    opacity: 1;
    transform: scaleX(1);
  }
}

.TextField-Bottom {
  position: absolute;
  bottom: 0;
  left: 0;
  font-size: var(--text-size-small);
  padding-top: 0;
  padding-left: var(--gutter-small);
}

/* https://stackoverflow.com/questions/29580704/change-input-background-to-transparent-on-autocomplete-form */
input:-webkit-autofill,
input:-webkit-autofill:hover,
input:-webkit-autofill:focus,
input:-webkit-autofill:active {
  transition: background-color 50000s ease-in-out 0s;
  -webkit-text-fill-color: var(--color-dark) !important;
}
